*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh
}

.drag-area{
  border: 5px dashed #797979;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .container {
  margin: 30px 150px;
}

.archivoSeleccionado {
  width: 100%;
  height: 300px;
  background-color: gray;
} */

/* .textoArchivo {
  color: white;
  text-align: center;
  padding-top: 1%;
  font-size: 40px;
}

.containerBtnSubir {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  height: 100%;
} */

/* .btnSubir {
  height: 60px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
} */
