*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh
}

.drag-area{
  border: 5px dashed #ddd;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active{
  background-color: #b8d4fe;
  color:black;
  border: 2px dashed #618ac9;
}

.drag-area h2{
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.drag-area span{
  font-size: 25px;
  color: #000;
}

.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  border: 0;
  outline: none;
  background-color: #5256ad;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.file-container{
  display:flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px #ddd;
}

#preview{
  margin-top: 10px;
}

.status-text{
  padding: 0 10px;
}

.success{
  color: #52ad5a;
}

.failure{
  color: #ff0000;
}


/* .container {
  margin: 30px 150px;
}

.archivoSeleccionado {
  width: 100%;
  height: 300px;
  background-color: gray;
} */

/* .textoArchivo {
  color: white;
  text-align: center;
  padding-top: 1%;
  font-size: 40px;
}

.containerBtnSubir {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  height: 100%;
} */

/* .btnSubir {
  height: 60px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
} */
